.AboutTitle h2 {
  font-family: "SF Pro Display", sans-serif; /* Menggunakan font "Outfit" */
  font-optical-sizing: auto;
  font-weight: 700; /* Ketebalan font yang sesuai */
  font-style: normal; /* Gaya font normal */
  font-size: 100px;
  margin-bottom: 10px;
  padding-top: 80px;
  color: black;
}



.container-about {
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 50px;
  opacity: 0; /* Awalnya atur opasitas menjadi 0 */
  transition: opacity 1s ease-in; /* Tambahkan transisi untuk animasi fade in */
}
.fade-in {
  opacity: 1; /* Saat class fade-in ditambahkan, ubah opasitas menjadi 1 */
}

.about-text {
  font-family: "SF Pro Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  color: rgb(123, 123, 123);
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .AboutTitle h2 {
    font-size: 40px; /* Ubah ukuran font menjadi lebih kecil untuk perangkat seluler */
  }

  .container-about {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    opacity: 0; /* Awalnya atur opasitas menjadi 0 */
    transition: opacity 1s ease-in; /* Tambahkan transisi untuk animasi fade in */
  }
  .fade-in {
    opacity: 1; /* Saat class fade-in ditambahkan, ubah opasitas menjadi 1 */
  }

  .about-text {
    font-family: "SF Pro Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: rgb(123, 123, 123);
  }
}