/* styles.css */



  .HomeTitle h2 {
    font-family: "Outfit", sans-serif; /* Menggunakan font "Outfit" */
    font-optical-sizing: auto;
    font-weight: 700; /* Ketebalan font yang sesuai */
    font-style: normal; /* Gaya font normal */
    font-size: 70px; /* Ukuran font yang lebih besar */
    margin-bottom: 10px; /* Margin bawah agar terlihat lebih rapi */
    
  }

  

  
  