/* styles.css */


  
  .ProjectTitle h2 {
    font-family: "Outfit", sans-serif; /* Menggunakan font "Outfit" */
    font-optical-sizing: auto;
    font-weight: 700; /* Ketebalan font yang sesuai */
    font-style: normal; /* Gaya font normal */
    font-size: 50px; /* Ukuran font yang lebih besar */
    margin-bottom: 10px; /* Margin bawah agar terlihat lebih rapi */
    padding-top: 20px;
  }

  .container-project {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 400px;
  }
  
  .project-text {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: rgb(123, 123, 123);
  }
  
  /* Media Queries */
  @media only screen and (max-width: 768px) {
    .ProjectTitle h2 {
      font-size: 40px; /* Ubah ukuran font menjadi lebih kecil untuk perangkat seluler */
    }

    .container-project {
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 400px;

    }
  
    .project-text {
      font-family: "Urbanist", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      font-size: 15px;
      color: rgb(123, 123, 123);
    }
  }

  

  
  